code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  font-size:62.5%;
  background-color: #fff;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.8;
  font-family: 'Noto Sans KR';
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  vertical-align: top;
}
article, footer, header, aside, details, header, nav, section {
  display: block;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #343a40;
}
h1 {
  font-weight: 700;
}
button {
  cursor: pointer;
}
p {
  margin: 0;
};
